

h1 {
    font-size: 60px;
    /*font-size: 50px;: Establece el tamaño de fuente de los elementos h1 a 50 píxeles.*/

    text-align: center;
    /*text-align: center;: Centra el texto dentro de los elementos h1*/
    font-family: Comfortaa, cursive;
    font-weight: bold;
    
}

p {
    font-size: 25px;
    /*font-size: 40px;: Establece el tamaño de fuente de los elementos p a 40 píxeles.*/

    text-align: center;
    /*text-align: center;: Centra el texto dentro de los elementos p.*/
font-family: Comfortaa, cursive;
color: aliceblue;
    margin-left: 100px;
    margin-right: 100px;

}

ul{
    font-size: 25px;
    /*font-size: 40px;: Establece el tamaño de fuente de los elementos p a 40 píxeles.*/

    text-align: center;
    /*text-align: center;: Centra el texto dentro de los elementos p.*/
    font-family: Comfortaa, cursive;
    color: aliceblue;
    margin-left: 100px;
    margin-right: 100px;
    list-style-type: none; /* Elimina los puntos de la lista */
}
li{
    margin: 20px;
}
*,
*::before,
*::after {
    /**, *::before, *::after: Selecciona todos los elementos y sus pseudo-elementos(before, after) antes y después.*/

    box-sizing: inherit;
    /*box-sizing: inherit;: Hereda el modelo de caja "border-box" establecido en el elemento HTML.
                         Que es border-box:El modelo de caja en CSS determina cómo se calculan las dimensiones de un elemento, 
                         incluyendo su ancho, alto y cómo se posicionan los elementos internos en relación con esos bordes.*/
}

body {
    padding: 0;
    /*padding: 0; margin: 0;: Elimina el relleno y los márgenes predeterminados del elemento body.*/
    margin: 0;

    line-height: 1.6;
    /*line-height: 1.6;: Establece la altura de línea en 1.6 veces el tamaño de fuente actual.*/

    font-family: "noto sans jp", sans-serif;
    /*font-family: Esta propiedad especifica la familia de fuentes que se utilizará para mostrar el texto.*/
    /*"noto sans jp": Es el nombre de la fuente primaria que se desea usar. En este caso, "noto sans jp" es el nombre de una fuente específica.*/
    /*sans-serif: Es una palabra clave de reserva que se utiliza como una opción de respaldo en caso de que la primera opción de fuente no esté disponible en el sistema del usuario.
     "Sans-serif" es una categoría general de fuentes que no tienen serifas (los pequeños detalles al final de las letras).*/

    /**/
    /*background: url("") no-repeat center center fixed; = para la imagen de fondo*/
    /*background-size: cover; = para que la imagen cubra todo*/
    /**/

    background-color: #171717;
    /*Establece el color de fondo del cuerpo en un tono de rosa.*/
}

.logo {
    /*.logo: Selecciona un elemento con la clase "logo".*/

    width: 120px;
    /*width: 120px;: Establece el ancho del elemento con la clase "logo" en 120 píxeles.*/

    height: 25px;
    /*height: 25px;: Establece la altura del elemento con la clase "logo" en 25 píxeles.*/
}

nav {
    /*nav: Selecciona un elemento <nav>.*/

    display: flex;
    /*isplay: flex;: Establece el modelo de visualización como flexbox, lo que permite un fácil diseño flexible de los elementos secundarios.*/

    align-items: center;
    /*align-items: center;: Centra verticalmente los elementos secundarios dentro del elemento <nav>.*/

    justify-content: space-around;
    /*justify-content: space-around;:
     Distribuye uniformemente el espacio alrededor de los elementos secundarios en el eje principal dentro del elemento <nav>.*/

    min-height: 8vh;
    /*min-height: 8vh;: Establece la altura mínima del elemento <nav> al 8% del alto de la ventana gráfica del usuario.*/

    background-color: #000;
    /*background-color: rebeccapurple;: Establece el color de fondo del elemento <nav> en "rebeccapurple".*/
}

.ham {
    /*.ham: Selecciona un elemento con la clase "ham".*/

    display: none;
    /*display: none;: Oculta el elemento con la clase "ham".*/

    cursor: pointer;
    /*cursor: pointer;: Cambia el cursor a una mano para indicar que el elemento es interactivo.*/

    border: none;
    /*border: none; margin: 0; padding: 0;: Elimina el borde, margen y relleno del elemento con la clase "ham".*/

    margin: 0;
    /*padding: 0; margin: 0;: Elimina el relleno y los márgenes predeterminados del elemento body.*/
    padding: 0;

    background-color: transparent;
    /*background-color: transparent;: Establece el color de fondo del elemento con la clase "ham" como transparente.*/
}

.ham span {
    /*ham span: Selecciona los elementos <span> que son descendientes del elemento con la clase "ham".*/

    display: block;
    /*display: block;: Establece los elementos <span> como elementos de bloque.*/

    background-color: aliceblue;
    /*background-color: aliceblue;: Establece el color de fondo de los elementos <span> en "aliceblue".*/

    height: 3px;
    /*height: 3px; width: 28px;: Establece el alto y el ancho de los elementos <span>*/

    width: 28px;
    /*width de algún elemento, lo que significa que establece su ancho en 28 píxeles.*/

    margin: 10px auto;
    /*margin: 10px auto;: Establece un margen de 10 píxeles en la parte superior e inferior y centra horizontalmente los elementos <span>.*/

    border-radius: 2px;
    /*border-radius: 2px;: Establece un radio de borde de 2 píxeles para redondear las esquinas de los elementos <span>.*/
}

.enlaces-menu {
    /*.enlaces-menu: Selecciona un elemento con la clase "enlaces-menu".*/

    display: flex;
    /*display: flex;: Establece el modelo de visualización como flexbox para el elemento con la clase "enlaces-menu".*/

    padding: 0;
    /*padding: 0;: Elimina el relleno en el elemento con la clase "enlaces-menu".*/
}

.enlaces-menu li {
    /*.enlaces-menu li: Selecciona los elementos <li> que son descendientes del elemento con la clase "enlaces-menu".*/

    padding: 0 20px;
    /*padding: 0 40px;: Establece un relleno de 0 en la parte superior e inferior y un relleno de 40 píxeles a la izquierda y derecha para los elementos <li>.*/

    list-style-type: none;
    /*list-style-type: none;: Elimina los marcadores de lista de los elementos <li>.*/

    transition: 0.3s;
    /*transition: 0.3s;: Establece una transición suave de 0.3 segundos para cualquier cambio de estilo en los elementos <li>.*/
}

.enlaces-menu li a {
    /*.enlaces-menu li a: Selecciona los elementos <a> que son descendientes de los elementos <li> con la clase "enlaces-menu".*/

    text-decoration: none;
    /*text-decoration: none;: Elimina la decoración de subrayado de los enlaces.*/

    font-size: 1.8rem;
    /*font-size: 1.8rem;: Establece el tamaño de fuente de los enlaces en 1.8 rem.*/

    color: #fff;
    /*color: black;: Establece el color del texto de los enlaces en negro.*/

    font-weight: 600;
    /*font-weight: 600;: Establece el grosor de la fuente de los enlaces en 600 (negrita).*/
}

.enlaces-menu li:hover {
    /*.enlaces-menu li:hover: Selecciona los elementos <li> con la clase "enlaces-menu" cuando se pasa el cursor sobre ellos.*/

    background-color: brown;
    /*background-color: brown;: Cambia el color de fondo de los elementos <li> a "brown" cuando se pasa el cursor sobre ellos.*/
}

