

h1 {
    font-size: 60px;
    /*font-size: 50px;: Establece el tamaño de fuente de los elementos h1 a 50 píxeles.*/

    
    /*text-align: center;: Centra el texto dentro de los elementos h1*/
    font-family: Comfortaa, cursive;
    font-weight: bold;
    
}

p {
    font-size: 25px;
    /*font-size: 40px;: Establece el tamaño de fuente de los elementos p a 40 píxeles.*/

    
    /*text-align: center;: Centra el texto dentro de los elementos p.*/
font-family: Comfortaa, cursive;
color: aliceblue;
    margin-left: 80px;
    margin-right: 80px;

}

ul{
    font-size: 25px;
    /*font-size: 40px;: Establece el tamaño de fuente de los elementos p a 40 píxeles.*/

    text-align: center;
    /*text-align: center;: Centra el texto dentro de los elementos p.*/
    font-family: Comfortaa, cursive;
    color: aliceblue;
    margin-left: 100px;
    margin-right: 100px;
    list-style-type: none; /* Elimina los puntos de la lista */
}
li{
    margin: 20px;
}
*,
*::before,
*::after {
    /**, *::before, *::after: Selecciona todos los elementos y sus pseudo-elementos(before, after) antes y después.*/

    box-sizing: inherit;
    /*box-sizing: inherit;: Hereda el modelo de caja "border-box" establecido en el elemento HTML.
                         Que es border-box:El modelo de caja en CSS determina cómo se calculan las dimensiones de un elemento, 
                         incluyendo su ancho, alto y cómo se posicionan los elementos internos en relación con esos bordes.*/
}

body {
    

    background-color: #171717;
    /*Establece el color de fondo del cuerpo en un tono de rosa.*/
}
nav {
    /*nav: Selecciona un elemento <nav>.*/

    display: flex;
    /*isplay: flex;: Establece el modelo de visualización como flexbox, lo que permite un fácil diseño flexible de los elementos secundarios.*/

    align-items: center;
    /*align-items: center;: Centra verticalmente los elementos secundarios dentro del elemento <nav>.*/

    justify-content: space-around;
    /*justify-content: space-around;:
     Distribuye uniformemente el espacio alrededor de los elementos secundarios en el eje principal dentro del elemento <nav>.*/

    min-height: 8vh;
    /*min-height: 8vh;: Establece la altura mínima del elemento <nav> al 8% del alto de la ventana gráfica del usuario.*/

    background-color: #000;
    /*background-color: rebeccapurple;: Establece el color de fondo del elemento <nav> en "rebeccapurple".*/
}






